<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/edit.css">
    <title>Document</title>
</head>
<body>
    <div class="main-block">
        <h1>Crews</h1>
        <form action="/admin/crews" method="POST">
            <label for="">Crew Name</label>
            <input type="text" name="crewName" id="rolename">
            <label for="">Car</label>
            <select name="CarId" id="">
                {{#each cars}}
                    <option value="{{this.id}}">{{this.govnumber}}</option>
                {{/each}}
            </select>
            <button type="submit" id="add-btn">Add</button>
        </form>
        <table border="1">
            <tr>
                <td>ID</td>
                <td>Crew name</td>
                <td>Car</td>
                <td>Action</td>
            </tr>
            {{#each crews}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.crewName}}</td>
                    <td>{{this.Car.govnumber}}</td>
                    <td>
                        <button id="delete-btn" data-id="{{this.id}}" data-url="/admin/crews">Delete</button>
                        <button id="edit-btn" class="edit-btn" data-entity="crew" data-id="{{this.id}}" data-path="crews">Edit</button>
                    </td>
                </tr> 
            {{/each}}
        </table>
    </div>

    <div style="text-align: center" id="popupWin" class="modalwin">
        <h2>Edit</h2>
        <form>
            <label for="">Crew Name</label>
            <input value="" class="editInputs" data-field="crewName">
            <label for="">Car</label>
            <select name="CarId" id="" data-field="CarId" class="editInputs">
                {{#each cars}}
                    <option value="{{this.id}}" class="option">{{this.govnumber}}</option>
                {{/each}}
            </select>
            <button id="save-btn" type="submit" data-id="">Save</button>
        </form>

    </div> 

    <script src="/js/delete-btn.js"></script>
    <script src="/js/edit-btn.js"></script>
</body>
</html>